
.hello {
		width: 100%;
		height: 300px;
		background-color: grey;
}

.hell {
		width: 45%;
		height: 300px;
		border: 10px solid black ;
		float: left;
}
.hel {
		width: 45%;
		height: 300px;
		
		border: 10px solid orange ;
		float: left;
}
